<div class="loginContenedor">
    <div class="loginImagenContenedor">
        <img 
            class="loginImagen"
            src="./../../../../assets/login.svg">
    </div>
    <div class="loginForm">
        <h1 style="margin-top: 30px;">Iniciar sesion</h1>
        <br>
        <form>
            <div class="loginInput">
                <label for="nombreInput">Nombre de usuario</label>
                <input id="nombreInput">
            </div>
            <div class="loginInput">
                <label for="contraseñaInput">Contraseña</label>
                <input type="password" id="contraseñaInput">
            </div>
            <br>
            <button class="btn btn-primary" style="width: 100%;">Entrar</button>
        </form>
    </div>
</div>