*{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12pt;
}

textarea,
input{
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 2px 10px;
}

select{
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 2px 10px;
}

@media (min-width: 1006px){
    *{
        font-size: 14pt;
    }
}
