*{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 12pt;
}

textarea,
input{
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 2px 10px;
}

select{
    border-radius: 10px;
    box-shadow: 0 0 2px black;
    padding: 2px 10px;
}

.user-down,
.user-up{
    height:10px;
    width:10px;
    background:green;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    box-shadow: 0 0 4px black;
}

.user-down{
    background:grey;
}

@media (min-width: 1006px){
    *{
        font-size: 14pt;
    }
}
