<div class="container">
    <h1 class="tituloConsulta">{{ "MANAGMENT.TITLE" | translate }}</h1>
    <br/>
    <p>{{ "MANAGMENT.MESSAGE" | translate }}</p>
    <hr>
    <div class="flexRow administracion-grupo-filtros">
      <div class="flexCol sizeUnTercio">
        <h6>{{ "SELECT.LAB" | translate }}</h6>
        <select class="form-select" (change)="filtrarPorLaboratorio($event)">
          <option value="" hidden selected>{{ "SELECT.LAB" | translate }}</option>
          <option value="">{{ "SELECT.ALL" | translate }}</option>
          <option *ngFor="let laboratorio of laboratoriosData" value={{laboratorio.codigoLaboratorio}}>{{laboratorio.codigoLaboratorio}}</option>
        </select>
      </div>
      <input type="text" class="administracion-busqueda form-control" [formControl]="filtro" placeholder="{{ 'BATCH_TABLE.SEARCH.PLACEHOLDER' | translate }}">
      <div class="flexCol sizeUnTercio">
        <h6>{{ "SELECT.STATE" | translate }}</h6>
        <select class="form-select" (change)="filtrarPorEstado($event)">
            <option value="" hidden selected>{{ "SELECT.STATE" | translate }}</option>
            <option value="">{{ "SELECT.ALL" | translate }}</option>
            <option *ngFor="let estado of estadosData" value={{estado.estado}}>{{estado.titulo}}</option>
        </select>
      </div>
    </div>
    <div class="dates-select">
        <h6>{{ "BATCH_TABLE.START_DATE" | translate }}: </h6>
        <input type="date" class="form-control administracion-fechas" style="width: auto;" (change)="filtrarFechaInicio($event)"/>
        <h6>{{ "BATCH_TABLE.END_DATE" | translate }}: </h6>
        <input type="date" class="form-control administracion-fechas" style="width: auto;" (change)="filtrarFechaFin($event)"/>
    </div>
    <div *ngIf="lotesDataComplete.length == 0">
      <h5>{{ "MANAGMENT.NO_DATA" | translate }}</h5>
    </div>
    <div *ngIf="lotesData.length > 0">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
                  <th>{{ "BATCH_TABLE.STATE" | translate }}</th>
                  <th class="administracion-fecha-envio">{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
                  <th class="administracion-opcion">{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
                  <th class="administracion-opcion">{{ "BATCH_TABLE.VALIDATE" | translate }}</th>
                  <th class="administracion-opcion">{{ "BATCH_TABLE.DISPATCH" | translate }}</th>
                  <th class="administracion-opcion">{{ "BATCH_TABLE.DISTRIBUTE" | translate }}</th>
              </tr>
          </thead>
          <tbody >
              <tr *ngFor="let lote of lotesData | filtrarPor:['codigoLote']:filtro.value">
                  <td>{{lote.codigoLote}}</td>
                  <td>{{lote.estadoMostar}}</td>
                  <td class="administracion-fecha-envio">{{lote.fechaEnvio | dateFormat}}</td>
                  <td *ngIf="lote.fechaRecepcion" class="administracion-opcion">{{lote.fechaRecepcion  | dateFormat}}</td>
                  <td *ngIf="!lote.fechaRecepcion && lote.fechaEnvio" class="administracion-opcion">
                    <input type="date" id="date-input" (change)="openConfirmDataModal($event,lote)"/>
                  </td>
                  <td  class="administracion-opcion" *ngIf="!lote.fechaRecepcion && !lote.fechaEnvio"></td>

                  <td  class="administracion-opcion" *ngIf="lote.distribuido || lote.despachado; else demasEstados ">
                      {{ "BATCH_TABLE.STATES.VERIFIED" | translate }}
                  </td>
                  <ng-template #demasEstados>
                      <td  class="administracion-opcion" *ngIf="lote.fechaRecepcion">
                          <div class="btn-table" (click)="verificarVacunas(lote)"
                          type="button" data-toggle="modal" data-target="#check-vaccines-modal">
                          {{ "BATCH_TABLE.STATES.VERIFY" | translate }}
                          </div>
                      </td>
                      <td  class="administracion-opcion" *ngIf="!lote.fechaRecepcion">
                          ------------ 
                      </td>
                  </ng-template>

                  <td  class="administracion-opcion" *ngIf="lote.estado === 'EN_CAMINO' || lote.estado === 'RECIBIDO' || lote.cantidadVacunasADistribuir === lote.cantidadVacunas || lote.estado === 'ACEPTADO'
                    ; else demasDistribucion2 "> 
                    ------------ 
                  </td>
                  <ng-template #demasDistribucion2>
                    <td  class="administracion-opcion" *ngIf="!lote.despachado "> 
                      <button class="btn-table"  (click)="verificarVacunas(lote)" [disabled]="lote.distribuido === 0 && lote.estado !== 'RECHAZADO'"
                          type="button" data-toggle="modal" data-target="#despacho-lote">
                          {{ "BATCH_TABLE.STATES.DISPATCH" | translate }}
                      </button>
                    </td>
                    <td  class="administracion-opcion" *ngIf="lote.despachado">{{ "BATCH_TABLE.STATES.DISPATCHED" | translate }}</td>
                  </ng-template>

                  <td  class="administracion-opcion" *ngIf="(lote.estado === 'ACEPTADO' 
                    || lote.estado === 'ACEPTADO_PARCIALMENTE') && (!lote.distribuido) 
                    ; else demasDistribucion "> 
                    <div class="btn-table administracion-opcion" (click)="distribuirVacunas(lote)"
                          type="button" data-toggle="modal" data-target="#distribucion-lote">
                          {{ "BATCH_TABLE.STATES.DISTRIBUTE" | translate }}
                      </div>
                  </td>
                  <ng-template #demasDistribucion>
                    <td  class="administracion-opcion" *ngIf="!lote.distribuido || lote.estado === 'RECHAZADO' "> ------------ </td>
                    <td  class="administracion-opcion" *ngIf="lote.distribuido">{{ "BATCH_TABLE.STATES.DISTRIBUTED" | translate }}</td>
                  </ng-template>
              </tr>
          </tbody>
      </table>
    </div>
</div>

<!-- Modal actualizacion recepcion -->
<div class="modal fade" id="confirmDataChangeModal" tabindex="-1" role="dialog" aria-labelledby="confirmDataChangeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDataChangeModalLabel">{{ "MANAGMENT.MODAL.GET_BATCH.TITLE" | translate }}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>¿{{ "MANAGMENT.MODAL.GET_BATCH.MESSAGE" | translate }} {{fechaActualizacionRecibo}}?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="actualizarFechaLoteAdmin()">{{ "BUTTONS.UPDATE" | translate }}</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal verificar vacunas-->
<div class="modal fade" id="check-vaccines-modal" tabindex="-1" role="dialog" aria-labelledby="check-vaccines-ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="check-vaccines-ModalLabel">{{ "MANAGMENT.MODAL.VERIFY.MESSAGE" | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-verificacion">
        <div>
          <h6 *ngIf="vaccinesData[0]">{{ "BATCH_TABLE.LAB_NAME" | translate }}: {{vaccinesData[0].nombreLab}}</h6>
          <h6 *ngIf="vaccinesData[0]">{{ "BATCH_TABLE.COD_BATCH" | translate }}: {{vaccinesData[0].codigoLote}}</h6>
        </div>
        <div>
          <h6>{{ "MANAGMENT.MODAL.VERIFY.MESSAGE" | translate }}</h6>
          <select class="form-select" (change)="cambioEstadoGeneral($event)">
              <option value="" hidden selected>{{ "SELECT.STATE" | translate }}</option>
              <option *ngFor="let state of vaccinesStatesData" 
                    value={{state.codigoEstadoVacuna}}>{{state.estado}}</option>
          </select>
        </div>
        <table class="table table-striped">
          <thead>
            <th>{{ "BATCH_TABLE.VACCINE_CODE" | translate }}</th>
            <th>{{ "BATCH_TABLE.STATE" | translate }}</th>
          </thead>
          <tbody>
            <tr *ngFor="let vaccine of vaccinesData">
              <td>{{vaccine.codigoVacuna}}</td>
              <td>
                <select  (change)="changeVaccineCode($event,vaccine.codigoVacuna)">
                  <option hidden selected>{{vaccine.estado || "Select"}}</option>
                  <option *ngFor="let state of vaccinesStatesData" value={{state.codigoEstadoVacuna}}>{{state.estado}}</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editarVacunas()" [disabled]="!finalizarVerificacion">{{ "BUTTONS.CONFIRM" | translate }}</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal despachar vacunas-->
<div class="modal fade" id="despacho-lote" tabindex="-1" role="dialog" aria-labelledby="despacho-loteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="despacho-loteLabel">{{ "MANAGMENT.MODAL.DISPATCH.TITLE" | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-despachar">
        <div>
          <h6 *ngIf="vaccinesData[0]">{{ "BATCH_TABLE.LAB_NAME" | translate }}: {{vaccinesData[0].nombreLab}}</h6>
          <h6 *ngIf="vaccinesData[0]">{{ "BATCH_TABLE.COD_BATCH" | translate }}: {{vaccinesData[0].codigoLote}}</h6>
        </div>
        <div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.FOLLOWING_CODE" | translate }}: </label>
            <input type="text" [(ngModel)]="codigoSeguiminetoActual"/>
          </div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.DEVOLUTION_DATE" | translate }}: </label>
            <input type="date" [(ngModel)]="fechaDevolucion"/>
          </div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.SELECT_TRANSPORT" | translate }}: </label>
            <select  [(ngModel)]="empresaTransporteActual"> 
              <option hidden selected>Select</option>
              <option *ngFor="let empresa of empresasTransporte" value={{empresa.idEmpresaTransporte}}>{{empresa.nombre}}</option>
            </select>
          </div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.SELECT_REASON" | translate }}: </label>
            <select [(ngModel)]="motivoDevolucionActual">
              <option hidden selected>{{ "SELECT.SELECT" | translate }}</option>
              <option *ngFor="let reject of rejectionReasonsData" value={{reject.idMotivoDevolucion}}>{{reject.tipoMotivo}}</option>
            </select>
          </div>
          <div class="loteAdmin-modal2-row">
            <textarea placeholder="{{ 'MANAGMENT.MODAL.DISPATCH.COMMENTS' | translate }}" [(ngModel)]="descripcionProblemaActual"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" 
              [disabled]="motivoDevolucionActual == 0 || codigoSeguiminetoActual == '' || descripcionProblemaActual == '' 
              || empresaTransporteActual == 0 || fechaDevolucion == undefined " (click)="despacharVacunas()">{{ "BUTTONS.CONFIRM" | translate }}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal distribuir vacunas-->
<div class="modal fade" id="distribucion-lote" tabindex="-1" role="dialog" aria-labelledby="distribucion-loteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="distribucion-loteLabel">{{ "MANAGMENT.MODAL.DISTRIBUTE.TITLE" | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-distribuir">
        <div>
          <span>{{ "MANAGMENT.MODAL.DISTRIBUTE.QUANTITY" | translate }}: {{vacunasDistribuirData.length}}</span>
          <select (change)="cambioProvinciaDistribucion($event)" [value]="provinciaTipoDistribucion">
            <option *ngFor="let modo of modoDistribucionData" value={{modo.idModoDistribucion}}>{{modo.modoDistribucion}}</option>
          </select>
          <img src="../../../../assets/informacion.svg" class="configurar-img-info" type="button" title="{{ 'MANAGMENT.MODAL.DISTRIBUTE.MESSAGE' | translate }}"/>
        </div>
        <div>
          <table>
            <tr *ngFor="let provincia of provinciasDistribuirData">
              <td>{{provincia.nombre}}</td>
              <input type="number" value={{provincia.valor}} (change)="cambioValorInput(provincia, $event)" min=0/>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="vacunasDistribuirData.length !== totalVacunasADistribuir"
          (click)="distribucionVacunas()">{{ "BUTTONS.CONFIRM" | translate }}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
      </div>
    </div>
  </div>
</div>