.dashboard-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 15px;
    grid-auto-flow: dense;
}

.dashboard-item,
.dashboard-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.dashboard-item-container{
    border: 1px solid black;
    width: 90%;
    margin-right: 2.5px;
    box-shadow: 5px 5px black;
}

@media (min-width: 760px) {
    .dashboard-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1240px) {
    .dashboard-container{
        grid-template-columns: repeat(3,1fr);
    }
}