
<div class="container">
    <h1 class="tituloConsulta">{{ "LABORATORY.TITLE" | translate }}</h1>
    <div class="row filtrosContenedor">
        <div class="laboratorio-div-filtro">
            <input type="text" class="form-control col-12" [formControl]="filtro" placeholder="{{ 'LABORATORY.PLACEHOLDER' | translate }}">
        </div>
        <div class="laboratorio-div-boton">
            <button class="btn btn-primary laboratorio-agregarBoton" data-toggle="modal" data-target="#insertar-laboratorio" (click) = "resetModalLabels()">
                {{ "LABORATORY.ADD" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "LABORATORY.NAME" | translate }}</th>
                <th>{{ "LABORATORY.COUNTRY" | translate }}</th>
                <th class="laboratorio-email">{{ "LABORATORY.CONTACT_EMAIL" | translate }}</th>
                <th class="laboratorio-contacto">{{ "LABORATORY.CONTACT_NAME" | translate }}</th>
                <th>{{ "LABORATORY.CONFIGURATION" | translate }}</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let laboratorio of laboratoriosData | filtrarPor:['nombre', 'pais', 'nombreContacto', 'emailContacto']:filtro.value">
                <td class="laboratorio-nombre">
                    <div>
                        <div *ngIf="laboratorio.valor === 0" class="user-down"></div>
                        <div *ngIf="laboratorio.valor === 1" class="user-up"></div>
                        {{laboratorio.nombre}}
                    </div>
                </td>
                <td>{{laboratorio.pais}}</td>
                <td class="laboratorio-email">{{laboratorio.emailContacto}}</td>
                <td class="laboratorio-contacto">{{laboratorio.nombreContacto}}</td>
                <td>
                    <img src="../../../../assets/configurar.svg" class="configurar-img" type="button" 
                        data-toggle="modal" data-target="#editar-laboratorio" (click)="editarLaboratorio(laboratorio)"/>
                    <img src="../../../../assets/señal.svg" class="configurar-img" type="button"
                        data-toggle="modal" data-target="#ping-laboratorio" (click)="pingLaboratorio(laboratorio)"
                        *ngIf="laboratorio.valor === 1 || laboratorio.valor === 0"/>
                    <img src="../../../../assets/mensajes.svg" class="configurar-img" type="button"
                        data-toggle="modal" data-target="#mensaje-laboratorio" (click)="editarLaboratorio(laboratorio)"
                        *ngIf="laboratorio.valor === 1 || laboratorio.valor === 0"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal Mensajeria laboratorio -->
<div class="modal fade" id="mensaje-laboratorio" tabindex="-1" role="dialog" aria-labelledby="mensaje-laboratorioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mensaje-laboratorioLabel">{{laboratorioModal.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mensajeria-modal">
                <label>{{ "FINAL.MESSAGE" | translate }}</label>
                <textarea maxlength="4000" rows="4" placeholder="{{ 'FINAL.PLACEHOLDER' | translate }}" [(ngModel)]="mensajeLaboratorio"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="enviarMensajeLaboratorio()"
                [disabled]="mensajeLaboratorio == ''">{{ "BUTTONS.CONFIRM" | translate }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CLOSE" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ping laboratorio -->
<div class="modal fade" id="ping-laboratorio" tabindex="-1" role="dialog" aria-labelledby="ping-laboratorioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ping-laboratorioLabel">{{laboratorioModal.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" [ngClass]="{
                'message-color-1': codigoMensajePing == 1,
                'message-color-2': codigoMensajePing == 2}">
                <h4>{{mensajePing}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CLOSE" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar endpoint -->
<div class="modal fade" id="editar-laboratorio" tabindex="-1" role="dialog" aria-labelledby="editar-laboratorioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editar-laboratorioLabel" >{{ "LABORATORY.EDIT" | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="flexRow">
                    <label for="">URL</label>
                    <input type="text" [(ngModel)]="endpointEditar.url"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "PROVINCE.MODAL.STATUS" | translate }}</label>
                    <input type="text" [(ngModel)]="endpointEditar.urlStatus"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "PROVINCE.MODAL.USER" | translate }}</label>
                    <input type="text" [(ngModel)]="endpointEditar.usuario"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "PROVINCE.MODAL.PASSWORD" | translate }}</label>
                    <input type="text" [(ngModel)]="endpointEditar.clave"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "PROVINCE.MODAL.TEC" | translate }}</label>
                    <select [(ngModel)]="endpointEditar.tecnologia">
                        <option selected hidden>{{endpointEditar.tecnologia}}</option>
                        <option *ngFor="let tecnologia of tecnologiasData" 
                              value={{tecnologia.nombre}}>{{tecnologia.nombre}}</option>
                    </select>
                </div>
                <div class="flexRow">
                    <label for="">{{ "PROVINCE.MODAL.ENABLE" | translate }}</label>
                    <select [(ngModel)] = "endpointEditar.habilitado">
                        <option value="1">{{ "USERS.ENABLE" | translate }}</option>
                        <option value="0">{{ "USERS.DISABLE" | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="editarEndpoint()" data-dismiss="modal"
                [disabled]="endpointEditar.url == '' || endpointEditar.urlStatus == '' || endpointEditar.clave == '' || endpointEditar.usuario == ''  || endpointEditar.tecnologia == '' "
                >{{ "BUTTONS.EDIT" | translate }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal insertar laboratorio -->
<div class="modal fade" id="insertar-laboratorio" tabindex="-1" role="dialog" aria-labelledby="insertar-laboratorioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insertar-laboratorioLabel" >{{ "LABORATORY.MODAL.TITLE" | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.NAME" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.nombre"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.COUNTRY" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.pais"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.DIRECTION" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.direccion"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.CONTACT_EMAIL" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.emailContacto"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.CONTACT_NAME" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.nombreContacto"/>
                </div>
                <div class="flexRow">
                    <label for="">{{ "LABORATORY.MODAL.LAB_CODE" | translate }}</label>
                    <input type="text" [(ngModel)]="nuevoLaboratorio.codigoLaboratorio"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="insertarLaboratorio()"
                [disabled]="nuevoLaboratorio.codigoLaboratorio == '' || nuevoLaboratorio.nombre == '' || nuevoLaboratorio.pais == '' ||
                nuevoLaboratorio.direccion == '' || nuevoLaboratorio.emailContacto == '' || nuevoLaboratorio.nombreContacto == '' ">
                    {{ "BUTTONS.INSERT" | translate }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
            </div>
        </div>
    </div>
</div>