<div class="container">
    <h1 class="tituloConsulta">{{ "INQUIRY.TITLE" | translate }}</h1>
    <div *ngIf="devolucionesLaboratorios.length > 0">
        <h3>{{ "INQUIRY.LABS_RETURNINGS" | translate }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ "BATCH_TABLE.LAB_CODE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
                    <th>{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.RETURN_CODE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.VACCINES_QUANTITY" | translate }}</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let lote of devolucionesLaboratorios">
                    <td>{{lote.codigoLaboratorio}}</td>
                    <td>{{lote.codigoLote}}</td>
                    <td>{{lote.fechaEnvio || "----------"}}</td>
                    <td>{{lote.fechaRecepcion || "----------"}}</td>
                    <td>{{lote.codigoDevolucion}}</td>
                    <td>{{lote.cantidadVacunas}}</td>
                </tr>
            </tbody>
        </table>
        <hr/>
    </div>
    <div *ngIf="lotesProvincias.length > 0">
        <h3>{{ "INQUIRY.PROVINCES_BATCHES" | translate }}</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ "BATCH_TABLE.LAB_CODE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
                    <th>{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
                    <th>{{ "BATCH_TABLE.VACCINES_QUANTITY" | translate }}</th>
                    <th>{{ "BATCH_TABLE.DISPATCH" | translate }}</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let lote of lotesProvincias">
                    <td>{{lote.codigoLaboratorio}}  {{lote.codigoProvincia}}</td>
                    <td>{{lote.codigoLote}}</td>
                    <td>{{lote.fechaEnvio || "----------"}}</td>
                    <td>{{lote.fechaRecepcion || "----------"}}</td>
                    <td>{{lote.cantidadVacunas}}</td>

                    <td *ngIf="!lote.idEmpresaTransporte "> 
                        <div class="btn-table"  (click)="despacharLote(lote)"
                            type="button" data-toggle="modal" data-target="#despacho-lote">
                            {{ "BATCH_TABLE.STATES.DISPATCH" | translate }}
                        </div>
                    </td>
                    <td *ngIf="lote.idEmpresaTransporte">{{ "BATCH_TABLE.STATES.DISPATCHED" | translate }}</td>
                
                </tr>
            </tbody>
        </table>
        <hr/>
    </div>
</div>





















<!-- Modal despachar vacunas-->
<div class="modal fade" id="despacho-lote" tabindex="-1" role="dialog" aria-labelledby="despacho-loteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="despacho-loteLabel">{{ "MANAGMENT.MODAL.DISPATCH.TITLE" | translate }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-despachar">
          <div>
            <h6 *ngIf="loteActual[0]">{{ "BATCH_TABLE.LAB_NAME" | translate }}: {{loteActual[0].nombreLab}}</h6>
            <h6 *ngIf="loteActual[0]">{{ "BATCH_TABLE.COD_BATCH" | translate }}: {{loteActual[0].codigoLote}}</h6>
          </div>
          <div>
            <div class="loteAdmin-modal2-row">
              <label>{{ "MANAGMENT.MODAL.DISPATCH.FOLLOWING_CODE" | translate }}: </label>
              <input type="text" (change)="cambioCodigoSeguimiento($event)"/>
            </div>
            <div class="loteAdmin-modal2-row">
              <label>{{ "MANAGMENT.MODAL.DISPATCH.DEVOLUTION_DATE" | translate }}: </label>
              <input type="date" (change)="cambioFechaDevolucion($event)"/>
            </div>
            <div class="loteAdmin-modal2-row">
              <label>{{ "MANAGMENT.MODAL.DISPATCH.SELECT_TRANSPORT" | translate }}: </label>
              <select (change)="cambioEmpresaTransporte($event)">
                <option hidden selected>Select</option>
                <option *ngFor="let empresa of empresasTransporte" 
                  value={{empresa.idEmpresaTransporte}}>{{empresa.nombre}}</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" 
                *ngIf="codigoSeguiminetoActual !== '' && empresaTransporteActual !== 0 && fechaDevolucion !== undefined "
                (click)="despacharLoteProvincia()" >{{ "BUTTONS.CONFIRM" | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>