<div class="container">
  <h1 class="tituloConsulta">{{ "INQUIRY.TITLE" | translate }}</h1>
  <div class="dates-select">
    <input type="text" class="form-control consulta-busqueda" [formControl]="filtro" placeholder="{{ 'BATCH_TABLE.SEARCH.PLACEHOLDER' | translate }}">  
    <div>
      <h6>{{ "BATCH_TABLE.START_DATE" | translate }}: </h6>
      <input type="date" class="form-control" style="width: auto;" (change)="filtrarFechaInicio($event)"/>
    </div>
    <div>
      <h6>{{ "BATCH_TABLE.END_DATE" | translate }}: </h6>
      <input type="date" class="form-control" style="width: auto;" (change)="filtrarFechaFin($event)"/>
    </div>
  </div>
  <div *ngIf="lotesData.length > 0">
    <h3>{{ "BATCH_TABLE.BATCH_LAB" | translate }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
          <th>{{ "BATCH_TABLE.STATE" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
          <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lote of lotesData | filtrarPor:['codigoLote']:filtro.value">
          <td>{{lote.codigoLote}}</td>
          <td>{{lote.estado}}</td>
          <td class="consulta-no-movil">{{lote.fechaEnvio | dateFormat}}</td>
          <td>{{(lote.fechaRecepcion | dateFormat) || "PENDIENTE"}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="devolucionesLaboratorios.length > 0">
    <h3>{{ "INQUIRY.LABS_RETURNINGS" | translate }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.LAB_CODE" | translate }}</th>
          <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
          <th>{{ "BATCH_TABLE.RETURN_CODE" | translate }}</th>
          <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.VACCINES_QUANTITY" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lote of devolucionesLaboratorios | filtrarPor:['codigoLote']:filtro.value">
          <td class="consulta-no-movil">{{lote.codigoLaboratorio}}</td>
          <td>{{lote.codigoLote}}</td>
          <td class="consulta-no-movil">{{(lote.fechaEnvio | dateFormat) || "PENDIENTE"}}</td>
          <td>{{lote.codigoDevolucion}}</td>
          <td>{{(lote.fechaRecepcion | dateFormat) || "PENDIENTE"}}</td>
          <td class="consulta-no-movil">{{lote.cantidadVacunas}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="lotesProvincias.length > 0">
    <h3>{{ "INQUIRY.PROVINCES_BATCHES" | translate }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.LAB_CODE" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.COD_PROV" | translate }}</th>
          <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
          <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.VACCINES_QUANTITY" | translate }}</th>
          <th *ngIf="userPermissions == 1">{{ "BATCH_TABLE.DISPATCH" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lote of lotesProvincias | filtrarPor:['codigoLote']:filtro.value">
          <td class="consulta-no-movil">{{lote.codigoLaboratorio}}</td>
          <td class="consulta-no-movil">{{lote.codigoProvincia}}</td>
          <td>{{lote.codigoLote}}</td>
          <td class="consulta-no-movil">{{(lote.fechaEnvio | dateFormat) || "PENDIENTE"}}</td>
          <td>{{(lote.fechaRecepcion | dateFormat) || "PENDIENTE"}}</td>
          <td class="consulta-no-movil">{{lote.cantidadVacunas}}</td>
          <td class="consulta-no-movil" *ngIf="!lote.idEmpresaTransporte && userPermissions == 1">
            <div class="btn-table" (click)="despacharLote(lote)" type="button" data-toggle="modal"
              data-target="#despacho-lote">
              {{ "BATCH_TABLE.STATES.DISPATCH" | translate }}
            </div>
          </td>
          <td *ngIf="lote.idEmpresaTransporte && userPermissions == 1">{{ "BATCH_TABLE.STATES.DISPATCHED" | translate }}</td>
        </tr>
      </tbody>
    </table>
    <hr />
  </div>
  <div *ngIf="lotesDevolucionesProvincias.length > 0">
    <h3>{{ "BATCH_TABLE.BATCH_PROV_RETURN" | translate }}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.LAB_CODE" | translate }}</th>
          <th>{{ "BATCH_TABLE.COD_PROV" | translate }}</th>
          <th>{{ "BATCH_TABLE.COD_BATCH" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.SEND_DATE" | translate }}</th>
          <th>{{ "BATCH_TABLE.GET_DATE" | translate }}</th>
          <th class="consulta-no-movil">{{ "BATCH_TABLE.VACCINES_QUANTITY" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lote of lotesDevolucionesProvincias | filtrarPor:['codigoLote']:filtro.value">
          <td class="consulta-no-movil">{{lote.codigoLaboratorio}}</td>
          <td>{{lote.codigoProvincia}}</td>
          <td>{{lote.codigoLote}}</td>
          <td class="consulta-no-movil">{{(lote.fechaEnvio | dateFormat) || "PENDIENTE"}}</td>
          <td *ngIf="!lote.fechaRecepcion && lote.fechaEnvio">
            <input *ngIf="userPermissions == 1" type="date" id="date-input" (change)="openConfirmDataModal($event,lote)" />
            <h5 *ngIf="userPermissions != 1">--------</h5>
          </td>
          <td *ngIf="lote.fechaRecepcion">
            {{lote.fechaRecepcion | dateFormat}}
          </td>
          <td class="consulta-no-movil">{{lote.cantidadVacunas}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="devolucionesLaboratorios == [] && lotesProvincias == [] && lotesDevolucionesProvincias == [] && lotesData == []">
      <h6>{{ "BATCH_TABLE.NO_INFO" | translate }}</h6>
    </div>
    <hr />
  </div>
</div>

<!-- Modal despachar vacunas-->
<div class="modal fade" id="despacho-lote" tabindex="-1" role="dialog" aria-labelledby="despacho-loteLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="despacho-loteLabel">{{ "MANAGMENT.MODAL.DISPATCH.TITLE" | translate }} {{nombreProvincia}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-despachar">
        <div>
          <h6 *ngIf="loteActual[0]">{{ "BATCH_TABLE.LAB_NAME" | translate }}: {{loteActual[0].nombreLab}}</h6>
          <h6 *ngIf="loteActual[0]">{{ "BATCH_TABLE.COD_BATCH" | translate }}: {{loteActual[0].codigoLote}}</h6>
        </div>
        <div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.FOLLOWING_CODE" | translate }}: </label>
            <input type="text" [(ngModel)]="codigoSeguiminetoActual"/>
          </div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.SEND_DATE" | translate }}: </label>
            <input type="date" [(ngModel)]="fechaDevolucion"/>
          </div>
          <div class="loteAdmin-modal2-row">
            <label>{{ "MANAGMENT.MODAL.DISPATCH.SELECT_TRANSPORT" | translate }}: </label>
            <select [(ngModel)]="empresaTransporteActual">
              <option hidden selected>Select</option>
              <option *ngFor="let empresa of empresasTransporte" value={{empresa.idEmpresaTransporte}}>
                {{empresa.nombre}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal"
              [disabled]="codigoSeguiminetoActual == '' || empresaTransporteActual == 0 || fechaDevolucion == undefined "
              (click)="despacharLoteProvincia()">{{ "BUTTONS.CONFIRM" | translate }}</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal actualizacion recepcion -->
<div class="modal fade" id="confirmDataChangeModal" tabindex="-1" role="dialog"
  aria-labelledby="confirmDataChangeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDataChangeModalLabel">{{ "MANAGMENT.MODAL.GET_BATCH.TITLE" | translate }}
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>¿{{ "MANAGMENT.MODAL.GET_BATCH.MESSAGE" | translate }} {{fechaActualizacionRecibo}}?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="actualizarFechaLoteAdmin()">{{
          "BUTTONS.UPDATE" | translate }}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "BUTTONS.CANCEL" | translate
            }}</button>
      </div>
    </div>
  </div>
</div>