
<div class="container">
    <h1 class="tituloConsulta">USUARIOS</h1>
    <hr>
    <div class="row filtrosContenedor">
        <div class="col-3">
            <select class="form-select">
                <option>Seleccione un tipo</option>
                <option>LABABORATORIO</option>
                <option>PROVINCIA</option>
                <option>MINISTERIO</option>
            </select>
        </div>
        <div class="col-3">
            <button class="btn btn-primary agregarBoton">
                Agregar usuario
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Configurar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Fizer1</td>
                <td>LAB</td>
                <td><button>O</button></td>
                <td><button>X</button></td>
            </tr>
            <tr>
                <td>Fizer1</td>
                <td>LAB</td>
                <td><button>O</button></td>
                <td><button>X</button></td>
            </tr>
            <tr>
                <td>Mend2</td>
                <td>PROV</td>
                <td><button>O</button></td>
                <td><button>X</button></td>
            </tr>
            <tr>
                <td>OLucas</td>
                <td>MIN</td>
                <td><button>O</button></td>
                <td><button>X</button></td>
            </tr>
            <tr>
                <td>Lab x</td>
                <td>LAB</td>
                <td><button>O</button></td>
                <td><button>X</button></td>
            </tr>
        </tbody>
    </table>
</div>