.user-header-options{
    width: 50%;
}

.card-usuario-container{
    margin-bottom: 50px;
}

.user-down,
.user-up{
    height:10px;
    width:10px;
    background:green;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    box-shadow: 0 0 4px black;
}

.user-down{
    background:grey;
}

.card-usuario{
    
    height: 275px;
}

.card-usuario > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1006px){
    .user-header-options{
        width: 33%;
    }
}
