
.agregarBoton{
    width: 100%;
}

.configurar-img{
    border: 1px solid black;
    padding: 8px;
    border-radius: 25%;
}

.filtrosContenedor{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.flexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.tituloConsulta{
    margin: 20px 0px;
}

.sizeUnTercio{
    width: 33%;
}

