.user-header-options{
    width: 50%;
    margin-bottom: 10px;
}

.card-usuario-container{
    margin-bottom: 50px;
}

.card-usuario{
    
    height: 275px;
}

.agregarBoton{
    width: 100%;
}

.card-usuario > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuarios-sumarizacion{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 744px){
    .user-header-options{
        width: 33%;
    }
}

@media (min-width: 1006px){
    .user-header-options{
        width: 33%;
    }
}
