.footer-container{
    background-color: rgba(var(--bs-primary-rgb)); /* #37bbed */
    padding: 20px;
    color: white;
    box-shadow: 0 0 10px rgba(var(--bs-primary-rgb));
    bottom: 0;
    width: 100%;
    height: 12.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container{
    min-height: 75vh;
}

.navbar{
    box-shadow: 0 0 10px rgba(var(--bs-primary-rgb), var(--bs-bg-opacity));
    height: 12.5vh;
    min-height: 70px;
    background-color: rgba(var(--bs-primary-rgb));
    height: auto;
}

.navbar-brand{
    cursor: pointer;
}

.nav-link{
    cursor: pointer;
}

.header-buttons{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: end;
}

.header-option-movile{
    color: white;
    font-weight: 100;
    font-size: larger;
    text-decoration: underline;
}

.header-options-movile{
    width: 100%;
    background-color: rgba(0, 79, 110, 0.767);
    padding: 15px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

html{
    font-size: 16px;
    background-color: aliceblue;
}

.logout-img{
    width: 25px;
    color: aliceblue;
}

.logout-img-container{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 50px;
    margin-right: 25px;
    box-shadow: 0px 0px 3px black;
}

.logout-img-container:hover{
    box-shadow: 0px 0px 5px black;
    background-color: rgba(240, 248, 255, 0.685);
}

.background-color-2{
    background-color: green;
    box-shadow: 0 0 10px green;
}

.background-color-3{
    background-color: rgb(199, 130, 3);
    box-shadow: 0 0 10px rgb(199, 130, 3);
}

@media (min-width: 992px){
    .disapear-desktop{
        display: none;
    }

    .header-options-movile{
        display: none;
    }

    .header-buttons{
        width: auto;
    }
}
