<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="">Ministerio de la Nación</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="laboratorios">Laboratorios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="provincias">Provincias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="usuarios">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="vacunados">Vacunados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lotes-min-lab">Lotes externos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lotes-min-prov">Lotes internos</a>
          </li>
        </ul>
      </div>
    </div>
    <div [ngClass]="{'logout-img-container-variable': onlogin}"  class="logout-img-container" (click)="logout()">
      <img src="../assets/salida.svg" class="logout-img" alt="logout" />
    </div>
</nav>


<router-outlet></router-outlet>