<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="navbar-brand" (click)="ruteoHeader('/')" style="padding-left: 12px;">{{ "NAVBAR.TITLE" | translate }}</div>
      <div *ngIf="showHeaderOptions" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div *ngIf="userPermissions == 1" class="nav-link" (click)="ruteoHeader('/laboratorios')">{{ "NAVBAR.LABORATORIES" | translate }}</div>
          </li>
          <li class="nav-item">
            <div *ngIf="userPermissions == 1" class="nav-link" (click)="ruteoHeader('/provincias')">{{ "NAVBAR.PROVINCES" | translate }}</div>
          </li>
          <li class="nav-item">
            <div *ngIf="userPermissions == 1" class="nav-link" (click)="ruteoHeader('/usuarios')">{{ "NAVBAR.USERS" | translate }}</div>
          </li>
          <li class="nav-item">
            <div *ngIf="userPermissions != 2" class="nav-link" (click)="ruteoHeader('/vacunados')">{{ "NAVBAR.VACCINATES" | translate }}</div>
          </li>
          <li class="nav-item">
            <div *ngIf="userPermissions == 1" class="nav-link" (click)="ruteoHeader('/lotes-admin')">{{ "NAVBAR.BATCHADMIN" | translate }}</div>
          </li>
          <li class="nav-item">
            <div class="nav-link" (click)="ruteoHeader('/lotes-consulta')">{{ "NAVBAR.BATCHINQUIRY" | translate }}</div>
          </li>
        </ul>
      </div>
      <div *ngIf="showHeaderOptions" class="header-buttons">
        <div class="logout-img-container disapear-desktop" (click)="clickShowHeaderOptionsMovile()">
          <img src="../assets/menu-hamburguesa.svg" class="logout-img" alt="menu" />
        </div>
        <div class="logout-img-container" (click)="logout()">
          <img src="../assets/salida.svg" class="logout-img" alt="logout" />
        </div>
      </div>
    </div>
</nav>
<div *ngIf="showHeaderOptionsMovile" class="header-options-movile">
  <div *ngIf="userPermissions == 1" class="header-option-movile" (click)="ruteoHeader('/laboratorios')">{{ "NAVBAR.LABORATORIES" | translate }}</div>
  <div *ngIf="userPermissions == 1" class="header-option-movile" (click)="ruteoHeader('/provincias')">{{ "NAVBAR.PROVINCES" | translate }}</div>
  <div *ngIf="userPermissions == 1" class="header-option-movile" (click)="ruteoHeader('/usuarios')">{{ "NAVBAR.USERS" | translate }}</div>
  <div *ngIf="userPermissions != 2" class="header-option-movile" (click)="ruteoHeader('/vacunados')">{{ "NAVBAR.VACCINATES" | translate }}</div>
  <div *ngIf="userPermissions == 1" class="header-option-movile" (click)="ruteoHeader('/lotes-admin')">{{ "NAVBAR.BATCHADMIN" | translate }}</div>
  <div class="header-option-movile" (click)="ruteoHeader('/lotes-consulta')">{{ "NAVBAR.BATCHINQUIRY" | translate }}</div>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>

<div class="footer-container">
  {{ "FOOTER" | translate }}
</div>