
<div class="container">
    <h1 class="tituloConsulta">{{ "LABORATORY.TITLE" | translate }}</h1>
    <hr>
    <div class="row filtrosContenedor">
        <div class="col-3">
        </div>
        <div class="col-3">
            <button class="btn btn-primary agregarBoton">
                {{ "LABORATORY.ADD" | translate }}
            </button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "LABORATORY.NAME" | translate }}</th>
                <th>{{ "LABORATORY.COUNTRY" | translate }}</th>
                <th>{{ "LABORATORY.DIRECTION" | translate }}</th>
                <th>{{ "LABORATORY.CONTACT_NAME" | translate }}</th>
                <th>{{ "LABORATORY.CONTACT_EMAIL" | translate }}</th>
                <th>{{ "LABORATORY.CONFIGURATION" | translate }}</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let laboratorio of laboratoriosData">
                <td>{{laboratorio.nombre}}</td>
                <td>{{laboratorio.pais}}</td>
                <td>{{laboratorio.direccion}}</td>
                <td>{{laboratorio.emailContacto}}</td>
                <td>{{laboratorio.nombreContacto}}</td>
                <td>
                    <img src="../../../../assets/configurar.svg" class="configurar-img"/>
                    <img src="../../../../assets/eliminar.svg" class="configurar-img"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>