<div class="container">
    <h3>VACUNADOS</h3>
    <table class="table table-striped" *ngIf="vacunadosData.length > 0">
        <thead>
            <tr>
                <th>cuil</th>
                <th>fechaHoraVacunacion</th>
                <th>codigoVacuna</th>
                <th>codigoCentroVac</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let vacunado of vacunadosData">
                <td>{{vacunado.cuil}}</td>
                <td>{{vacunado.fechaHoraVacunacion}}</td>
                <td>{{vacunado.codigoVacuna}}</td>
                <td>{{vacunado.codigoCentroVac}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="vacunadosData.length === 0">
        <hr/>
        <h6>No existe informacion de vacunados por el momento</h6>
    </div>
</div>
