.provincia-nombre > div{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    cursor: pointer;
}

.message-color-1,
.message-color-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.message-color-2{
    color: red;
}

.message-color-1 > h4,
.message-color-2 > h4{
    font-weight: 800;
}

.provincia-email,
.provincia-contacto{
    display: none;
}

@media (min-width: 744px){
    .provincia-email,
    .provincia-contacto{
        display:table-cell;
    }
}