<div class="container">
    <h1 class="tituloConsulta">{{ "PROVINCE.TITLE" | translate }}</h1>
    <hr>
    <div *ngIf="provinciasData.length > 0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "PROVINCE.TABLE.NAME" | translate }}</th>
                <th>{{ "PROVINCE.TABLE.CONTACT" | translate }}</th>
                <th>{{ "PROVINCE.TABLE.EMAIL" | translate }}</th>
                <th>{{ "PROVINCE.TABLE.CONFIG" | translate }}</th>
            </tr>
        </thead>
        <tbody >
            <tr *ngFor="let provincia of provinciasData">
                <td (click)="mostrarCentrosSalud(provincia.codigoProvincia)" data-toggle="modal" data-target="#centros-provincia" class="provincia-nombre">
                    <div>
                        <div *ngIf="provincia.valor === 0" class="user-down"></div>
                        <div *ngIf="provincia.valor === 1" class="user-up"></div>
                        <u><b>{{provincia.nombre}}</b></u>
                    </div>
                </td>
                <td>{{provincia.nombreContacto}}</td>
                <td>{{provincia.emailContacto}}</td>
                <td>
                    <div>
                        <img src="../../../../assets/configurar.svg" class="configurar-img" type="button" 
                        data-toggle="modal" data-target="#editar-provincia" (click)="editarProvincia(provincia)"
                        />

                        <img src="../../../../assets/señal.svg" class="configurar-img" type="button"
                        data-toggle="modal" data-target="#ping-provincia" (click)="pingProvincia(provincia)"
                        *ngIf="provincia.valor === 1 || provincia.valor === 0"
                        />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<div class="modal fade" id="editar-provincia" tabindex="-1" role="dialog" aria-labelledby="editar-provinciaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editar-provinciaLabel" *ngIf="endpointExiste">{{ "PROVINCE.EDIT.TITLE.EDIT" | translate }}</h5>
                <h5 class="modal-title" id="editar-provinciaLabel" *ngIf="!endpointExiste">{{ "PROVINCE.EDIT.TITLE.INSERT" | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>{{endpointEditar.codigoLabOProv }}</h4>

                <div class="flexRow">
                    <label for="">URL</label>
                    <input type="text" value={{endpointEditar.url}} (change)="cambioUrl($event)"/>
                </div>

                <div class="flexRow">
                    <label for="">URL Status</label>
                    <input type="text" value={{endpointEditar.urlStatus}} (change)="cambioUrlStatus($event)"/>
                </div>
                
                <div class="flexRow">
                    <label for="">Clave</label>
                    <input type="text" value={{endpointEditar.clave}} (change)="cambioClave($event)"/>
                </div>

                <div class="flexRow">
                    <label for="">Tecnologia</label>
                    <select [(ngModel)] = "endpointEditar.tecnologia" (change)="cambioTecnologia($event)">
                        <option selected hidden>{{endpointEditar.tecnologia}}</option>
                        <option *ngFor="let tecnologia of tecnologiasData" 
                              value={{tecnologia.nombre}}>{{tecnologia.nombre}}</option>
                    </select>
                </div>
                
                <div class="flexRow">
                    <label for="">Usuario</label>
                    <input type="text" value={{endpointEditar.usuario}} (change)="cambioUsuario($event)"/>
                </div>
                
                <div class="flexRow">
                    <label for="">Habilitado</label>
                    <select [(ngModel)] = "endpointEditar.habilitado">
                        <option value="1">{{ "USERS.ENABLE" | translate }}</option>
                        <option value="0">{{ "USERS.DISABLE" | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
                <button type="button" class="btn btn-primary" *ngIf="endpointExiste" (click)="editarEndpoint()" data-dismiss="modal">{{ "BUTTONS.EDIT" | translate }}</button>
                <button type="button" class="btn btn-primary" *ngIf="!endpointExiste && endpointEditar.url !== '' && endpointEditar.urlStatus !== '' 
                && endpointEditar.clave !== '' && endpointEditar.usuario !== '' && endpointEditar.tecnologia !== ''"
                (click)="insertarEndpoint()">{{ "BUTTONS.INSERT" | translate }}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Centros de vacunacion -->
<div class="modal fade" id="centros-provincia" tabindex="-1" role="dialog" aria-labelledby="centros-provinciaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="centros-provinciaLabel">{{ "PROVINCE.HEALTH.TITLE" | translate }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body"  *ngIf="provinciaCentrosDeSalud.length > 0">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ "PROVINCE.HEALTH.NAME" | translate }}</th>
                    <th>{{ "PROVINCE.HEALTH.DIRECTION" | translate }}</th>
                    <th>{{ "PROVINCE.HEALTH.CONTACT_NAME" | translate }}</th>
                    <th>{{ "PROVINCE.HEALTH.CONTACT_EMAIL" | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let centros of provinciaCentrosDeSalud">
                    <td>{{centros.nombre}}</td>
                    <td>{{centros.direccion}}</td>
                    <td>{{centros.nombreContacto}}</td>
                    <td>{{centros.emailContacto}}</td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="modal-body"  *ngIf="provinciaCentrosDeSalud.length === 0">
            <h6>{{ "PROVINCE.HEALTH.MESSAGE" | translate }}</h6>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CANCEL" | translate }}</button>
        </div>
        </div>
    </div>
</div>

  <!-- Modal Ping provincia -->
  <div class="modal fade" id="ping-provincia" tabindex="-1" role="dialog" aria-labelledby="ping-provinciaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ping-provinciaLabel">{{provinciaModal.nombre}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <h4>{{mensajePing}}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "BUTTONS.CLOSE" | translate }}</button>
        </div>
      </div>
    </div>
  </div>