
<div class="container">
    <h1 class="tituloConsulta">PROVINCIAS</h1>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Configurar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cordoba</td>
                <td><button>O</button></td>
            </tr>
            <tr>
                <td>San Juan</td>
                <td><button>O</button></td>
            </tr>
            <tr>
                <td>Mendoza</td>
                <td><button>O</button></td>
            </tr>
            <tr>
                <td>...</td>
                <td><button>O</button></td>
            </tr>
        </tbody>
    </table>
</div>